@import "tailwindcss";

:root{
  --lavender-web: #E5E3F1ff;
  --pink-lavender: #E8BEEFff;
  --magnolia: #F0E9EEff;
  --non-photo-blue: #B7E7F2ff;
  --periwinkle: #B6B5EEff;
  --color-white: #FFFFFF7F ;
}

@font-face {
  font-family: 'Now';
  src: url('/fonts/now.regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--lavender-web) var(--pink-lavender);
  font-family: 'Now', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--lavender-web);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--pink-lavender);
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--periwinkle);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--periwinkle);
}

.svgBackground{
  position: fixed;
  top: 0;
  left: 0;
  z-index: auto;
}

@keyframes circleAnimationOdd {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  51% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circleAnimationEven {
  0% {
    transform: rotate(240deg);
  }
  50% {
    transform: rotate(360deg);
  }
  99% {
    transform: rotate(450deg);
  }
  100% {
    transform: rotate(540deg);
  }
}


/*Glassmorphism basic fond */
.App{
  position: relative;
  padding: 5%;
  margin-top:5%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid var(--color-white);
  box-shadow: 0 4px 30px var(--lavender-web);
  z-index: 2;
  max-width: 90vw;
  min-height: 95vh;
}

/*Glassmorphism fond element */
.element{
  position: relative;
  padding: 5%;
  margin: 5%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid var(--color-white);
}

.msg_input{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.msg_input input{
  flex: 1;
  padding: 10px;
  border: 1px solid var(--lavender-web);
  border-radius: 5px;
  font-size: 1rem;
  width: 50%;
  margin-right: 10px;
}

.msg_input button{
  background: var(--lavender-web);
  color: var(--periwinkle);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.carrousel{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carrousel_container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.carrousel_item {
  flex: 0 0 auto;
  width: 200px;
  height: 250px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid var(--color-white);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 0.3s ease;
}

.carrousel_item:hover {
  background: rgba(255, 255, 255, 0.7);
  transition: background 0.3s ease;
}

.button_left_carrou, .button_right_carrou{
  background: rgba( 255, 255, 255, 0.0);
  color: var(--periwinkle);
  border: none;
  border-radius: 5px;
  padding: 5%;
  font-size: 1rem;
  cursor: pointer;
}